@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gowun+Batang&family=Gowun+Dodum&family=Hahmlet:wght@100&family=Nanum+Myeongjo&family=Song+Myung&display=swap');

h2.line{
    width: 500px;
    font-family: 'Comic Sans MS';
    border: 5px groove gold;
    text-align: center;
}

div.inp{
    width: 300px;
    height: 300px;
    border: 3px solid gray;
    padding: 30px 30px;
    font-size: 20px;
    font-family: 'East Sea Dokdo';
}

div.inp span{
    color: red;
}

div.result{
    position: relative;
    left: 400px;
    top: -150px;
    width: 250px;
    height: 250px;
    border: 5px inset pink;
    padding: 30px 30px;
    font-size: 20px;
    font-family: 'East Sea Dokdo';
}

div.circle{
    width: 150px;
    height: 150px;
    border: 3px solid pink;
    border-radius: 300px;
    text-align: center;
    line-height: 150px;
    margin-left: 70px;
    margin-top: 50px;
}

div.circle b{
    font-size: 3em;

}

button{
    width: 70px;
}

div.box{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 20px;
    width: 240px;
    text-align: center; 
    margin-top: 100px;
    margin-left: 100px;
    font-family: 'East Sea Dokdo';
}

div.box input{
    width: 120px;
    height: 20px;
    text-align: center; 
    border: none;
}

div.result1{
    border: 1px solid gray;
    border-radius: 10px;
    width: 240px;
    height: 180px;
    padding-top: 20px;
    padding-left: 40px;
    margin: 100px 100px;
    position: absolute;
    left: 280px;
    top: 0px;
    font-family: 'East Sea Dokdo';
    font-size: 1.5em;
}

#btn1{
    margin-left:'100px';
    margin-top:'20px';
    width:'240px';
    font-family:'East Sea Dokdo';
}
